@model IEnumerable<Desafio_Stats.ViewModel.ConsultaDapperViewModel>

<canvas id="consultaDapper" width="600" height="250">
</canvas>

@{
    var quantidadeDapper = ViewBag.Quantidade;
    var condicaoDapper = ViewBag.Condicao;
}

<ul>
    @foreach (int quantidade in quantidadeDapper)
    {
        <li>
            @quantidade
        </li>
    }

</ul>

<p>@ViewBag.Quantidade</p>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script>


        var ctx = document.getElementById("consultaDapper");
        var consultaDapper = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: consultaCondicao,
                datasets: [{
                    label: 'Resultado',
                    fill: false,
                    data: consultaQuantidade,
                    backgroundColor: '#E91E63',
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                    ],
                    borderWidth: 1
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Tipos de ocorrência'
                },
                responsive: true,
                tooltips: {
                    callbacks: {
                        labelColor: function (tooltipItem, chart) {
                            return {
                                borderColor: 'rgb(255, 0, 20)',
                                backgroundColor: 'rgb(255,20, 0)'
                            }
                        }
                    }
                },
                legend: {
                    labels: {
                        fontColor: 'red',
                    }
                }
            }
        });



    </script>
        }




